
<input type='hidden' id='controller' value='pesquisa_usuarios' />
<input type='hidden' id='metodo-auto-complete' value='auto_complete_todos_usuarios' />
<input type='hidden' id='metodo-carregar-mais' value='carregar_mais_usuarios' />

<div class='caixa-pesquisa-usuarios'>
	<input type="text" class="form-control informe-nome-para-pesquisa" id='informe-nome-para-pesquisa' placeholder="Informe o nome para a pesquisa">
</div>

<div class="row" id='usuarios-pesquisados'>

</div>

<div class='container-carregar-mais' >
<button class='btn btn-primary btn-lg botao-carregar-mais' id='botao-carregar-mais' >  Carregar mais  </button>
</div>

