
<!DOCTYPE html>
<html>
<head>
  <title>Compartilhamento de imagens</title>
  <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "index", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

<div class="container">

    <div class="jumbotron">
	<h1>Compartilhamento de imagens</h1>
        <p class="lead">Faça upload de suas fotos e compartilhe com seus amigos</p>
        <p>
	    <a class="btn btn-lg btn-primary" href="usuarios/sign_up">Criar conta</a>
	    <a class="btn btn-lg btn-success" href="home">Já possuo uma conta</a>
	</p>
   </div>

</div>

</body>

</html>


