<h3 class="conteudo-centralizado" contenteditable="true"> <%= @album.nome %> <div class='lapis' >  </div>  </h3>

<br>

<div class="conteudo-centralizado">
  <a class="btn btn-info btn-lg" href="/albums/<%= @album.id %>/edit" id='adicionar-fotos' >Adicionar fotos</a>
  <a class="btn btn-danger btn-lg" href="#" id='remover-fotos' >Remover fotos</a>
  <a class="btn btn-danger btn-lg" href="#" id='confirmar-exclusao-fotos' >Confirmar remoção</a>
</div>

<br>

<div class="row">

  <% @album.imagems.each do |imagem| %>

      <div class="col-md-4 container-foto-album-pequena">

        <a href="semlinkainda">
          <img class="img-thumbnail foto-album-pequena" src="<%= imagem.imagem.url(:pequeno) %>" id='<%= imagem.id %>' >
        </a>

      </div>

  <% end %>

</div>