body {
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

@media screen and (max-width: 768px) {
  .jumbotron .btn {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 5px;
  }
}

