

<div class="conteudo-centralizado" >
  <img class="img-thumbnail imagem-grande-comentarios" src="<%= @imagem.imagem.url(:grande) %>" id="<%= @imagem.id %>" >

  <textarea id='texto-comentario' class="form-control comentar" rows="3" placeholder="Comentar..." ></textarea>

  <br>

  <button id='botao-comentar' class="btn btn-primary btn-lg"> Comentar </button>

</div>

