<!DOCTYPE html>
<html>
<head>
  <title>Compartilhamento de imagens</title>
  <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

<div class="container">

<%= yield %>

</div>

</body>

<%= javascript_include_tag "jquery-2.0.3.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>

</html>
